anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1774359453/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///D:/bld/cffi_1761202861216/work
cryptography @ file:///D:/bld/cryptography-split_1770772219673/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
flet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_flet_1774563944/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
msgpack @ file:///D:/bld/msgpack-python_1762503969772/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1773839147/work/dist/numpy-2.4.3-cp313-cp313-win_amd64.whl#sha256=48dc074ad49238120929ed3c5b74ae27a86fc1d2ccc4a01c73736e7584c18c43
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1750415243897/work
openpyxl @ file:///D:/bld/openpyxl_1769121996952/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1774916628/work
pathlib==1.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyjwt_1773482160/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
repath @ file:///home/conda/feedstock_root/build_artifacts/repath_1735143999350/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
